<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <style>
        h1{color: darkblue;}
        h2{color: black;}
        label{color: darkblue; font-size: large;}
        p{color: black;}
    </style>
    <div style="margin: 50px">
        <h1>Select a model</h1>
        <form action="{% url 'search_results' %}" method="get">
            <div style="display: flex; justify-content: start;">
                <div style="margin-right: 20px">
                    {% if model == "Boolean" %}
                        <input type="radio" name="model" value="Boolean" checked>
                    {% else %}
                        <input type="radio" name="model" value="Boolean">
                    {% endif %}
                    <label>Boolean</label>
                </div>
                <div style="margin-right: 20px">
                    {% if model == "Vectorial" %}
                        <input type="radio" name="model" value="Vectorial" checked>
                    {% else %}
                        <input type="radio" name="model" value="Vectorial">
                    {% endif %}
                    <label >Vectorial</label>
                </div>
                <div style="margin-right: 20px">
                    {% if model == "Probabilistic" %}
                        <input type="radio" name="model" value="Probabilistic" checked>
                    {% else %}
                        <input type="radio" name="model" value="Probabilistic">
                    {% endif %}
                    <label >Probabilistic</label>
                </div>
            </div>

            <br><br>

            {% if q != None %}
                <textarea style="width: 100%; height: 100px; font-size: large;"  name="q" type="text" placeholder="Search...">{{ q }}</textarea>
            {% else %}
                <textarea style="width: 100%; height: 60px; font-size: large;"  name="q" type="text" placeholder="Search..."></textarea>
            {% endif %}
            <br>
            <button style="float:right" type="submit">Search</button>
        </form>
        <br> <br>
        {% block content %} {% endblock %}
    </div>

</body>
</html>